body{
    background-image: url("./images/bg-top.svg"), url("./images/bg-bottom.svg");
    background-position: top right, left bottom;
    background-repeat: no-repeat;
    font-size: 15px;
    font-family:'Montserrat',monospace;
    background-color:#f7f7ff;
    font-weight:700;
    color: hsl(232, 13%, 33%);
}

.container {
    height:750px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: flex-start;
}

.state {
    height: 350px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    border-radius: 2%;
    flex-wrap: wrap;
}

.Basic {
   background-color:rgba(256,256,256,1);
   color: hsl(232, 13%, 33%);
}

.Master {
    background-color:white;
    color: hsl(232, 13%, 33%);
}

.more {
    width:200px;
    height:40px;
    background-image:linear-gradient(to right, hsl(236, 72%, 79%),hsl(237, 63%, 64%));
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4%;
    cursor: pointer;
}

.morePro {
    width:200px;
    height:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4%;
    cursor: pointer;
    background-color:white;
    color:hsl(237, 63%, 64%);
}

.Proheight {
    height: 450px;
    display: flex;
    align-items: center;
    background-image:linear-gradient(to right,hsl(236, 72%, 79%),hsl(237, 63%, 64%));
    border-radius: 2%;
    color: hsl(240, 78%, 98%);
}

hr {
    width:200px;
    background-color:hsl(232, 13%, 33%);
}

.pricing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height:150px;
    position: relative;
}

.Annually {
    width:200px;
    height:50px;
    display: flex;
    justify-content:space-between;
}
#switch {
    align-self:center;
    position: relative;
}

#pricing {
  font-size:30px;
}

.price {
    font-size: 50px;
}

.dollar {
    font-size: 30px;
}

.dollarPrice {
    display: flex;
    align-items: center;
}

.type {
    font-size: 20px;
}

.switch {
  position: relative;
  display: flex;
  width: 50px;
  height: 24px;
  align-self:center;
}

.switch input {
  opacity: 0;
  width: 0px;
  height: 0px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsl(237, 63%, 64%);
  -webkit-transition: .4s;
  transition: .4s;
}


.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color:hsl(237, 63%, 64%);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media all and (max-width:912px){
  .container {
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    height: 1000px;
  }

  .Proheight {
    height: 350px;
    margin-top: 10px;
  }

  .state {
    margin-top: 10px;
  }
}